@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
/*    font-family: 'Playfair Display', serif;
font-family: 'Open Sans', sans-serif;
*/

body {
    background: rgb(42, 42, 42);
}
.title, .main, .button {
    border: 2.5px solid #8f8f8f;
    border-radius: 10px;
    border-bottom: 3px solid;
    color: #aaaaaa;
}
#settings-p, #settings-p-1 {
    color: #aaaaaa;
}
#settings-p:hover, #settings-p-1:hover {
    color: #bababa;
    text-shadow: 1px 3px 5px #d7d7d7;
}